@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
/*$sombras: map-merge(
    (
    "100": #EEF1F4,
    "200": #DFE3E7,
    "300": #CBCFD2,
    "400": #B3B6B9,
    "500": #9CA0A3,
    "600": #7C7F82,
    "700": #606365,
    "800": #4A4C4F,
    "900": #333536,
    ),
    $sombras
);
*/
* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-decoration: none; }

/*-----------------BOTÓN VER MÁS----------------*/
.contenedor__boton--vermas {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%; }

a .boton__verMas {
  font-size: 23px;
  border: none;
  cursor: pointer;
  background-color: rgba(251, 15, 125, 0.842);
  color: white;
  padding: 1rem;
  margin: 1rem; }

/*------------BOTÓN COMPRAR-----------*/
/*---------------IMAGEN GIFT TREN--------------*/
.tren {
  position: relative;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1; }

/*----------------FOOTER-------------*/
/*@mixin footer($porcentaje, $alineado, $color) {
    color: $color;
    text-align: $alineado;
    font-size: 1.3rem;
    position: relative;
    margin-top: 1rem;
    top: $porcentaje;
    cursor: pointer;
} 

.footer__texto{
    @include footer(10%, center, #e2e2e2)
}
.footer__texto{
    @include footer(10%, center, #070707)
}
*/
.contenedor__footer {
  background: #00bfff;
  height: 150px; }

.contenedor__footer--mensaje {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 18px;
  position: relative;
  bottom: -75%; }

/*---------------NAVBAR------------*/
.bg-pink {
  background-color: rgba(251, 15, 125, 0.842) !important; }

/*----------------MEDIA QUERIES-----------*/
@media (min-width: 480px) {
  /*--GRID-FOTOS--*/
  .grid .grid__contenedor {
    grid-template-columns: repeat(2, 50%); } }

@media (min-width: 760px) {
  /*--GRID-FOTOS--*/
  .grid .grid__contenedor {
    grid-template-columns: repeat(4, 25%); }
  /*--FORMULARIO--*/
  .tren {
    width: 50%;
    position: relative;
    display: block; } }

@media screen and (max-width: 991px) {
  .form-v6-content {
    margin: 180px 20px;
    flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column; }
  .form-v6-content .form-left {
    width: 100%; }
  .form-v6-content .form-left img {
    width: 100%;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 8px; }
  .form-v6-content .form-detail {
    padding: 30px 20px 30px 20px;
    width: auto; }
  .form-v6-content .form-detail .form-row input {
    width: 96%; }
  .form-v6-content .form-detail .register {
    margin-bottom: 80px; } }

@media screen and (max-width: 767px) {
  .form-v6-content .form-detail .form-row input {
    width: 94%; } }

/*--------------CARROUSEL DE CARDS--------------*/
a.color-pink {
  background: rgba(251, 15, 125, 0.842);
  color: white;
  border-style: none; }
  a.color-pink:hover {
    background: #00bfff;
    border-style: none; }

div.card {
  box-shadow: 5px 5px 5px #b6b6b6; }

.container {
  margin-bottom: 6%; }

.texto__contenedor center {
  font-size: 18px; }

.page-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -8%; }

.form-v6-content {
  background: white;
  width: 968px;
  border-radius: 8px;
  margin: 180px 0;
  color: white;
  font-weight: 700;
  position: relative;
  display: flex; }
  .form-v6-content.form-left {
    margin-bottom: -6px; }
    .form-v6-content.form-leftimg {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px; }
  .form-v6-content.form-detail {
    padding: 30px 40px;
    position: relative;
    width: 100%; }
    .form-v6-content.form-detail h2 {
      color: #333;
      font-size: 35px;
      text-align: center;
      position: relative;
      padding: 6px 0 0;
      margin-bottom: 47px; }
  .form-v6-content.form-row {
    width: 100%; }

.form-v6-content .form-detail .form-row-last {
  text-align: center; }

.form-v6-content .form-detail .input-text {
  margin-bottom: 35px; }

.form-v6-content .form-detail input {
  width: 92%;
  padding: 0px 15px 10px 15px;
  border: 2px solid transparent;
  border-bottom: 2px solid white;
  appearance: unset;
  outline: none;
  font-size: 16px;
  font-weight: 700;
  color: #333; }

.form-v6-content .form-detail .form-row input:focus {
  border-bottom: 2px solid rgba(251, 15, 125, 0.842); }

.form-v6-content .form-detail .register {
  background: rgba(251, 15, 125, 0.842);
  border-radius: 6px;
  width: 160px;
  box-shadow: 0px 3px 10px 0px #b6b6b6;
  border: none;
  margin: 11px 0 50px 0px;
  cursor: pointer;
  color: white;
  font-weight: 700;
  font-size: 18px; }

.form-v6-content .form-detail .register:hover {
  background: #00bfff; }

.form-v6-content .form-detail .form-row-last input {
  padding: 13px; }

input::-webkit-input-placeholder {
  color: #b6b6b6;
  font-size: 16px; }

input::-moz-placeholder {
  color: #b6b6b6;
  font-size: 16px; }

input:-ms-input-placeholder {
  color: #b6b6b6;
  font-size: 16px; }

input:-moz-placeholder {
  color: #b6b6b6;
  font-size: 16px; }

/*----------GRID CATEGORIAS MÁS VENDIDAS---------*/
.titulo__categorias {
  font-size: 30px;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%; }

.grid {
  background-color: white; }
  .grid__contenedor {
    display: grid;
    width: 100%;
    margin: auto; }
  .grid__columna {
    margin: 5px; }
    .grid__columna img {
      width: 100%; }

.contenedor__img {
  display: flex; }
  .contenedor__img__columna2 {
    background-color: rgba(255, 0, 119, 0.337);
    padding: 15px; }
    .contenedor__img__columna2 img {
      width: 70%;
      align-items: center;
      padding: 5px;
      margin: 5px; }
  .contenedor__img__columna {
    background-color: #00abe4a8;
    padding: 15px; }
    .contenedor__img__columna img {
      width: 90%;
      align-items: center;
      padding: 5px;
      margin: 5px; }

.coloraqua__titulo--grid {
  text-align: center;
  color: black;
  font-size: 25px;
  padding: 10px;
  margin: 1px;
  background: #00abe4a8;
  position: relative;
  bottom: 90px; }

.colorrosa__titulo--grid {
  text-align: center;
  color: black;
  font-size: 25px;
  padding: 10px;
  margin: 1px;
  background: rgba(255, 0, 119, 0.337);
  position: relative;
  bottom: 90px; }

video {
  position: relative;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1; }
