@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*---------------NAVBAR------------*/

.navbar{
    padding: 18px;
    list-style-type: none;
    text-align: end;
    font-size: 20px;
}

.navbar li{
    display: inline;

}

.navbar a{
    text-decoration: none;
    color: white;
}

header{
    background: rgba(251, 15, 125, 0.842);
}

#navbar__titulo{
    display: flex;
    font-size: 1rem;
}

video{
    position: relative;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

/*----------GRID CATEGORIAS MÁS VENDIDAS---------*/

.titulo__categorias{
    font-size: 30px;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.contenedor__img{
    display: flex;
}

.contenedor__img .contenedor__columna img{
    width: 90%;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

.contenedor__img .contenedor__columna2 img{
    width: 70%;
    align-items: center;
    padding: 5px;
    margin: 5px;
}

.contenedor__img .contenedor__columna{
    background-color: rgba(0, 255, 255, 0.386);
    padding: 15px;
}

.contenedor__img .contenedor__columna2{
    background-color: rgba(255, 0, 119, 0.337);
    padding: 15px;
}

/*--------------CARROUSEL DE CARDS--------------*/

.cards{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2%;
}

.cards__columna{
    width: 15.5rem;
    height: 21.5rem;
    background-color: rgba(0, 255, 255, 0.386);

}

.cards__columna2{
    width: 15.5rem;
    height: 21.5rem;
    background-color: rgba(255, 0, 119, 0.337);
}

.cards__columna img{
    width: 80%;
    height: 60%;
    position: relative;
    margin-left: 10%;
    margin-top: 5%;
}

.cards__columna2 img{
    width: 80%;
    height: 60%;
    position: relative;
    margin-left: 10%;
    margin-top: 5%;
}

.cards__precio{
    font-size: 1.5rem;
    position: relative;
    margin-left: 9%;
    margin-top: 1.5%;
}

.cards__articulo{
    font-size: 1.2rem;
    position: relative;
    margin-left: 9%;
    margin-top: 2%;
}

.contenedor__boton--compar{
    text-align: center;
}

.cards__boton--comprar{
    font-size: 1.1rem;
    margin-top: 2%;
    background-color: rgba(251, 15, 125, 0.842);
    color: white;
    border: none;
    margin: 4%;
    padding: 4%;
    cursor: pointer;
}

/*-----------------BOTÓN VER MÁS----------------*/

.contenedor__boton--vermas{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.boton__verMas{
    font-size: 23px;
    border: none;
    cursor: pointer;
    background-color: rgba(251, 15, 125, 0.842);
    color: white;
    padding: 1rem;
    margin: 1rem;
}

/*----------------FOOTER-------------*/

footer{
    position: relative;
    height: 250px;
    background: rgb(0, 232, 253);
    margin-top: 5%;
}

.footer__texto{
    color: white;
    text-align: center;
    font-size: 1.3rem;
    position: relative;
    margin-top: 1rem;
    top: 10%;
    cursor: pointer;
}

