@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

@import "variables";

@import "base/base";

@import "components/buttons";
@import "components/gitfs";

@import "layout/footer";

@import "vendors/navbar";

@import "utilities/media-queries";

@import "views/cards";
@import "views/form";
@import "views/grid-index";
@import "views/grid-nosotros";
@import "views/videos";

//MAP
/*$sombras: map-merge(
    (
    "100": #EEF1F4,
    "200": #DFE3E7,
    "300": #CBCFD2,
    "400": #B3B6B9,
    "500": #9CA0A3,
    "600": #7C7F82,
    "700": #606365,
    "800": #4A4C4F,
    "900": #333536,
    ),
    $sombras
);
*/

//MAP-GET

div.card{
    box-shadow: 5px 5px 5px grey;
    /*box-shadow: 5px 5px 5px map-get($sombras, 800);*/
}

//MIXIN

/*@mixin footer($porcentaje, $alineado, $color) {
    color: $color;
    text-align: $alineado;
    font-size: 1.3rem;
    position: relative;
    margin-top: 1rem;
    top: $porcentaje;
    cursor: pointer;
} 

.footer__texto{
    @include footer(10%, center, #e2e2e2)
}
.footer__texto{
    @include footer(10%, center, #070707)
}*/