//Color Textos
$color-rosa: rgba(251, 15, 125, 0.842);
$color-rosa-transparente: rgba(255, 0, 119, 0.337);
$color-aqua-transparente: rgba(0, 255, 255, 0.386);
$color-aqua: aqua;
$color-negro: black;
$color-blanco: white;
$sombras: rgba(194, 111, 169, 0.432);

//Tamaño letras
$tamano-principal: 30px;
$tamano-secundario: $tamano-principal - 5px;
$width-principal: 100%;