/*----------------FOOTER-------------*/

.footer__container{
    background-color: aqua;
    display: grid;
    place-items: center;
}

//MIXIN
@mixin footer($porcentaje, $alineado, $color) {
    color: $color;
    text-align: $alineado;
    font-size: 1.3rem;
    position: relative;
    margin-top: 1rem;
    top: $porcentaje;
    cursor: pointer;
} 

.footer__texto{
    @include footer(10%, center, #e2e2e2)
}
.footer__texto{
    @include footer(10%, center, #070707)
}

