/*----------------FOOTER-------------*/

//MIXIN
/*@mixin footer($porcentaje, $alineado, $color) {
    color: $color;
    text-align: $alineado;
    font-size: 1.3rem;
    position: relative;
    margin-top: 1rem;
    top: $porcentaje;
    cursor: pointer;
} 

.footer__texto{
    @include footer(10%, center, #e2e2e2)
}
.footer__texto{
    @include footer(10%, center, #070707)
}
*/

.contenedor__footer{
    background: $color-aqua;
    height: 150px;
}

.contenedor__footer--mensaje{
    display: flex;
    justify-content: center;
    color: $color-blanco;
    font-size: $tamano-terciario;
    position: relative;
    bottom: -75%;
}




