/*--------------CARROUSEL DE CARDS--------------*/


a.color-pink{
    background: $color-rosa;
    color: $color-blanco;
    border-style: none;
    &:hover{
        background: $color-aqua;
        border-style: none;
    }
}

//MAP-GET
div.card{
    //box-shadow: 5px 5px 5px grey;
    box-shadow: 5px 5px 5px map-get($sombras, 800);
}