/*--------------CARROUSEL DE CARDS--------------*/

a.color-pink{
    background: $color-rosa;
    color: $color-blanco;
    border-style: none;
    &:hover{
        background: $color-aqua;
        border-style: none;
    }
}

//MAP-GET
div.card{
    box-shadow: 5px 5px 5px $color-gris;
    //box-shadow: 5px 5px 5px map-get($sombras, 800);
}

.container{
    margin-bottom: 6%;
}

.texto__contenedor center{
    font-size: $tamano-terciario;
}
