/*-----------------GRID---------------*/

.titulo-grid{
    font-size: 70px;
    color: $color-negro;
    text-align: center;
}
.grid{
    background-color: $color-blanco;
    &__contenedor{
        display: grid;
        width: 100%;
        margin: auto;
    }
    &__columna{
        margin: 5px;
        img{
            width: 100%;
        }
    }
}