.titulo-grid{
    font-size: $tamano-principal;
    color: $color-negro;
    text-align: center;
}
.grid{
    background-color: $color-blanco;
    &__contenedor{
        display: grid;
        width: $width-principal;
        margin: auto;
    }
    &__columna{
        margin: 5px;
        img{
            width: $width-principal;
        }
    }
}